# Ignore python build
*.egg-info
*.egg
build
dist

# Ignore latex build
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.dvi
!*.pdf
*.gz
*.synctex.*

# Ignore python cache
__pycache__

# Jupyter notebook
.ipynb_checkpoints

# Ignore dataset data
*.{png,jpg,jpeg,gif,webm,zip,csv,txt}
!documents/*.{png,jpg,jpeg,gif,webm,zip,csv,txt}
