# Ignore python build
*.egg-info
*.egg
build
dist

# Ignore latex build
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.dvi
!*.pdf
*.gz
*.synctex.*

# Ignore python cache
__pycache__

# Jupyter notebook
.ipynb_checkpoints

# Ignore dataset data
*.{png,jpg,jpeg,gif,webm,zip,csv,txt,mp4}
**/*.{png,jpg,jpeg,gif,webm,zip,csv,txt,mp4}
!documents/*.{png,jpg,jpeg,gif,webm,zip,csv,txt,mp4}

# YOLO
**/runs
**/*.pt
finalyearproject
yolov5

# RoboFlow

# non-standard, but hey, why not
roboflow.txt 

*.labels.*
*.dataset.*
*.roboflow.*

**/test
**/train
**/valid

# Ignore comet_ml
comet_ml.json
.comet.config

# 
*.code-workspace
.*
!.gitignore
!.gitkeep
!.vscode